<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Application System</title>
    <style>
        label {
            font-size: 1.3em;
        }
        form {
            background-color: lightgray;
            padding: 20px;
        }
    
        button[type="submit"] {
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div>
        <h1>Wecome to  Online Application System</h1>
    </div>
    <form action="/login" method="post">
        <label for='z'><b>UID:</b></label>
        <input type="text" id="uid" name="uid" ><br><br>
        <label for='password'><b>Password:</b></label>
        <input type="password" id="password" name="password"><br>
        <a href="/main"><button type="button">Login</button></a>
</form>
</body>
</html>


